* {
  font-family: "Source Sans Pro", sans-serif;
}
.headBar {
  overflow: hidden;
  background-color: black;
  padding-left: 4%;
}
.headBar a {
  float: left;
  color: #aca7a7;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
a.layout {
  font-weight: bold;
  font-family: sans-serif;
}
.headBar a:hover {
  background-color: #202020;
}
.containers {
  width: 90%;
  margin: auto;
}
.left_container h1 {
  margin-top: 40px;
}
.left_container h3 {
  margin-top: 10px;
}
.left_container span {
  color: #247cce;
}
img#clock {
  vertical-align: text-top;
  height: 14.5px;
  margin-right: 3.5px;
}
hr {
  margin-top: 20px;
  height: 1px;
  background-color: #ccc;
  border: none;
}
.left_container p {
  margin-top: 20px;
  font-size: 15px;
}
.left_container img#card {
  width: 100%;
  margin-top: 20px;
}
.left_container h4 {
  margin-top: 20px;
  font-weight: 500;
  font-size: larger;
  font-weight: bold;
}
.end {
  margin-bottom: 10px;
  margin-top: 30px;
}
.search_box {
  background-color: #f0efef;
  margin-top: 25px;
  padding: 25px 20px;
  padding-top: 5px;
  padding-bottom: 15px;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  box-sizing: border-box;
}
.search_box h3 {
  font-weight: 500;
  font-size: larger;
}
.searchbar {
  margin-top: 10px;
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
}
input {
  padding: 6px;
  font-size: 17px;
  border: 1px solid #c2c2c2;
  background-color: white;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  flex-grow: 9;
}
button {
  padding: 6px;
  background: white;
  color: black;
  font-size: 17px;
  border: 1px solid #c2c2c2;
  border-left: none;
  cursor: pointer;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  flex-grow: 1;
}
.category_box {
  background-color: #f0efef;
  margin-top: 25px;
  padding: 30px 20px;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
}
.category_box h3 {
  font-weight: 500;
  font-size: larger;
}
.category_box--left_column {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.category_box--right_column {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
a {
  text-decoration: none;
  color: #247cce;
}
.side_widget_box {
  background-color: #f0efef;
  margin-top: 25px;
  padding: 32px 20px;
  padding-bottom: 40px;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
}
.side_widget_box h3 {
  font-weight: 500;
  font-size: larger;
}
.side_widget_box p {
  font-size: 15px;
  margin-top: 10px;
}
.wrapper {
  display: grid;
  grid-template-columns: 60% 37%;
  grid-column-gap: 3%;
}
.divider {
  display: grid;
  grid-template-columns: 50% 50%;
}
.footer {
  padding-bottom: 30px;
  padding-top: 30px;
}
.footer p {
  font-size: 15px;
}
@media screen and (max-width: 1020px) {
  .wrapper {
    display: block;
  }
  .left_container {
    width: 100%;
  }
  .right_container {
    width: 100%;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 600px) {
  .headBar a {
    display: block;
  }
}